// || COLORS ||
$green-deer-sign: #629c44;
$yellow-deer-sign: #f0ad4e;
$gray-deer-sign: #d6d6d6;
$white: #ffffff;
$gray: #27282d;
$medium-gray: lighten($gray, 25%);
$light-gray: lighten($gray, 65%);

// || FONTS ||
$font: Helvetica;