@import "../variables.scss";

.dashboard-container {
    margin-top: 50px;
}

.table {
    position:relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 10vh;
}

.bar-chart-container{
    margin-left: 10%;
    width: 100vh;
    height: 50vh;
    display: inline-flex;
}

.doughnut-chart-container {
    margin-left: 10%;
    width: 50vh;
    height: 50vh;
    display: inline-block;
}