@import "../variables.scss";

.dashboard-container {
    margin: 0 auto;
    padding: 0;
}

.table {
    position:relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.chart-container{
    margin-left: 200px;
    margin-top: 50px;
    width: 50vh;
    height:30vh;
    display: inline-flex;
}

.chart-containerAvg{
    margin-left: 5%;
    width: 80vh;
    height:50vh;
    display: inline-block;
}