@import "../variables.scss";

.userfullname-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;

    h1 {
        color: $yellow-deer-sign;
        font-weight: 600;
        font-size: 40px;
        font-family: $font;
    }
}
.sections-container {
    width: 100%;
    margin-top: 20px;
}

.row {
    margin-left: 100px;
}

.user-donutchart {
    width: 32vh;
    height: 32vh;
    vertical-align: middle;
    margin-left: 120px;
    display: flex;
}

#first-section, #second-section {
    height: 40vh;
}

#first-section, #second-section, #third-section {
    background-color: $gray-deer-sign;
    border: 5px solid $white;
    text-align: center;
}

#third-section {
    height: 80vh;
    overflow-y:auto;
}

.section-spans {
    font-family: $font;
    font-size: 26px;
    color: #7a7a7a;
    font-weight: 500;
}

#third-span {
    font-weight: bolder;
}

.week-container-first {
    display: flex;
    margin: 10px;
}

.week-container-second {
    display: flex;
    margin: 10px;
    padding: 5;
}

.week-card + .week-card {
    margin-left: 10px;
}

.week-card.week {
    background-color: #E5E5E5;
    font-weight: bold;
}

.categories-container {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

.categories-container-first{
    display: flex;
    margin: 10px;
}

.category-card {
    margin: 5px;
}

.categories-container-second{
    display: flex;
    margin: 10px;
}

.card-icon {
    width: 54px;
    height: 54px;
    color: $white;
}
.card-icon.num {
    width: 45px;
    height: 45px;
    color: $white;
}

.card-title {
    font-family: Roboto;
    color: $white;
}

.card-progress {
    text-align: right;
    font-family: $font;
    color: $white;
}

#colors-card {
    background-color: #eea236;
}

#abc-card {
    background-color: #42a5f5;
}

#sports-card {
    background-color: #92d36e;
}

#food-card {
    background-color: #ff5d55;
}

#verbs-card {
    background-color: #c238eb;
}

#verbs-card-two {
    background-color: #929292;
}

#drinks-card {
    background-color: #3CA99B;
}

#animals-card {
    background-color: #d68227;
}

#body-card {
    background-color: #84C18E;
}

#days-card {
    background-color: #60CEC3;
}

#fruits-card {
    background-color: #6089CE;
}

#vegies-card {
    background-color: #9B62BC;
}

#places-card {
    background-color: #D48295;
}

#months-card {
    background-color: #BB82D4;
}

#num-card {
    background-color: #E6B872;
}

#house-card {
    background-color: #E68D72;
}

#people-card {
    background-color: #E6DF72;
}

#questions-card {
    background-color: #C0E672;
}

#prep-card {
    background-color: #81E672;
}

#pron-card {
    background-color: #DE81DE;
}

#work-card {
    background-color: #81CEDE;
}

#clothes-card {
    background-color: #5EC480;
}

#time-card {
    background-color: #7D85B3;
}

#transport-card {
    background-color: #B07DB3;
}

#greetings-card {
    background-color: #DA8C8C;
}

/*.row > div {
    border: 1px dotted;
    text-align: center;
}*/